body {
    font-family: sans-serif;
    background-color: rgb(76, 227, 131);
    color: white;
    margin: 0;
}

header {
    background-color:rgb(71, 223, 210);
}

.button {
    
}

nav {
    background-color:lightblue;
    font-size:20px;
    padding:10px;
    margin:15px;
    text-align:center;
    border:3px solid rgb(69, 66, 237);
    border-radius:20px
}

.nav-link {
    text-decoration: none;
    padding:1px;
    margin:15px;
    background-color:rgb(197, 97, 214);
    color:rgb(255, 255, 255);
    border:3px solid rgb(0, 0, 0);
    border-radius:50px;
}

h1 {

}

p {
    font-size: 20px;
}

.info {
   
}

article {
   
}

.article-but {
    
}

footer {
   background-color:rgb(0, 63, 163);
}

footer a {
    
}

footer p {
}

main {
    background-color:rgb(31, 214, 177);
}

main img {
    border:5px solid rgb(66, 170, 127);
    border-radius:50px;
}

main h1 {
    font-size:50px;
    color:rgb(174, 87, 251);
    text-align:center;
}

.reaf {
    color:rgb(0, 0, 0);
    text-align:right;
    font-size:25px;
}

.kanion {
    color:rgb(0, 0, 0);
    text-align:right;
    font-size:25px;
}

.jungley {
    color:rgb(0, 0, 0);
    text-align:right;
    font-size:25px;
}

.ruin {
    color:rgb(0, 0, 0);
    text-align:right;
    font-size:25px;
}

.desert {
    color:rgb(0, 0, 0);
    text-align:right;
    font-size:25px;
}

.test {
    display:flex;
}

.name {
    display:flex;
    font-size:30px;
}
